
@font-face {
    font-family: 'Circe Extra Bold';
    src: url('../fonts/Circe/Circe-ExtraBold.otf');
    // font-weight: 900;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Circe Bold';
    src: url('../fonts/Circe/Circe-Bold.otf');
    // font-weight: 700;
    font-weight: normal;
    font-style: normal;
}