
@font-face {
    font-family: 'DIN Pro';
    src: url('../fonts/DINPro-Medium.otf');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'NewBaskervilleC';
    src: url('../fonts/NewBaskervilleC.otf');
}

@font-face {
    font-family: 'Austin Cyr';
    src: url('../fonts/Austin Cyr-Medium.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Austin Cyr-Fat';
    src: url('../fonts/Austin Cyr-Fat.otf');
    font-weight: normal;
    font-style: normal;
}
