@media screen and (max-width: 1124px) {
	

	/* ----- HEADER  ----- */

	.title-block {
		margin-left: 35px;
	}

	.header-navigation {
		padding: 29px 32px 30px 0;
	}

	.header-navigation-menu__item {
		&:first-of-type {
			margin-left: 0;
			
			.header-navigation-menu__item-ancor {
				margin-left: 0;
			}
		}
	}

	.header-navigation-menu__item-ancor {
		margin-left: 39%;
	}

	.header-navigation-menu__item {
	    margin-left: 0%;
	}
	/* ----- HEADER END ----- */


	/* ----- SECTION TEST ----- */

	.test-section {
	    padding: 50px 0 83px;
	}

	.block {

		&-video {
			padding-top: 6px;
			
			img {
				width: 100%;
			}
		}
		
		&-test {
		    padding: 0 8% 0 2.6%;
		    
		    &__text {
		    	padding: 19px 3px 33px 0;
		    	line-height: 26px;
		    	letter-spacing: .1px;
		    }

		    &__btn {
	    	    margin: 22px 0;
				padding: 11px 52px;
		    }
		}
	}

	.button-play {
		margin: -185px 38.5% 0;
	}

	.share {
		top: 6px;
		width: 60px;
	    
		&-item {
			padding: 25px 0 22px;

			
			&__share {
				padding: 29px 11px;
				font-size: 13px;
				line-height: initial;
			}
		}
	}

	.h2-fs48-geometria-fw800 {
	    display: flex;
	    margin: auto;
	    font-family: 'Geometria heavy';
	    font-weight: 800;
	    font-size: 38px;
	    text-align: center;
	}

	/* ----- SECTION TEST END ----- */


	/* ----- SECTION LECTION ----- */
	.lections {
		&-wrapper {
			padding: 64px 0 76px;
		}

		&-block {
			max-width: 240px;
			height: 297px;
			
			&__item {
				
			}
		}
	}

	.lections-section h2 {
	    padding: 65px 0 0;
	}

	.line_below {
		height: 33px;
	    width: 193px;
	    margin: 0 48px;
	    font-size: 38px;
	}

	.img-block {
		max-width: 240px;
		height: 152px;
	}

	.lection {
		&-number {
			font-size: 11px;
		}

		&-info-block {
		    padding: 0 10px 10px 11px;
		}

		&-title {
			font-size: 18px;
			line-height: 18px;
		}
	}

	/* ----- SECTION LECTION END ----- */



	/* ----- SECTION LECTORS  ----- */

	.lectors-section {
		padding-bottom: 22px;
		
		h2 {
			padding: 60px 0 0;
		}
	}

	.person {
		&-image {
			width: 236px;
			height: 236px;
		}

		&-name {
			font-size: 20px;
		}

		&-position {
			padding: 16px;
			letter-spacing: 0;
			line-height: 20px;
		}
	}

	/* ----- SECTION LECTORS END ----- */

	/* ----- ABOUT PROJECT ----- */
	.about-project-section .section-wrapper {
		padding: 74px 14px 73px;
	}

	.single-line_below__dark {
		margin: 36px auto 24px;
	}


	/* ----- ABOUT PROJECT END ----- */

	/* ----- FOOTER  ----- */
	footer {
		padding: 0 12px;
	}

	.footer {
		&-block {
			&:first-of-type {
				padding: 33px 55px 33px 0;
			}

			&:nth-of-type(2) {
				padding: 40px 57px 33px;
			}
		}
	}

	/* ----- FOOTER END ----- */

	/* search header form */

	.search-block {
		&:hover {
			max-width: 143px;
			
			.header-navigation-menu__item {
			    margin-left: 0;
			}

			.header-navigation-menu__block {
				margin: 0 10px 0 0
			}
		}
	}

}
