
@media screen and (max-width: 460px) {
	.title-block {
		padding: 15px 14px 18px;
		font-size: 18px;
		letter-spacing: -.5px;
		line-height: 18px;
		
		&::before {
			top: 0;
			left: -74px;
			width: 106px;
			height: 14px;
			font-size: 7px;
		}
	}

	.mobile-menu-icon {
		top: 11px;
		right: 11px;
	}

	.test-section {
	    padding: 0;
	}

	.block-video {
		height: 182px;
		padding-top: 0;
	}

	.button-play {
		width: 50px;
		height: 50px;
		background-size: 49px;
    	background-repeat: no-repeat;
    	
    	&:hover {
    		background-size: 49px;
    		background-repeat: no-repeat;
    	}
	}

	.menu_row {
		padding: 0;
		
	}

	.h2-fs48-geometria-fw800 {
		font-size: 25px;
	}

	.block-test {
	    padding: 31px 0 0;
	    
	  &__text {
		font-size: 16px;
		line-height: 21px;
		padding: 15px 24px 50px;
		}

		&__btn {
			margin: 3px 6px 8px;
			padding: 9px 30px 9px 37px;
		}
	}

	.share {
		margin: 26px 0 0;
		
		&-item {
			width: 70px;
   			height: 59px;
		}
	}

	.line_below {
		height: 21px;
		margin: 0 6px;
	}

	.lections-section h2 {
	    padding: 34px 0 0;
	}

	.lections-block {
		max-width: 100%;
		width: 100%;
		
		&:nth-of-type(n+3) {
			display: none;
		}
	}

	.lections-wrapper {
	    padding: 40px 20px 52px;
	}

	.img-block {
		height: 177px;
	}

	.lectors-section h2 {
	    padding: 38px 0 0;
	}

	.lectors-block:nth-child(odd) {
		border-right: none;
	}

	.lectors-section .lectors-slider {
		margin: 14px 50px;
	}

	.person-image {
	    width: 196px;
	    height: 196px;
	}

	.person-name {
		padding: 8px 0 0;
	}

	.person-position {
		padding: 5px 0;
	}

	.lectors-section {
		    padding-bottom: 103px;
	}

	.lectors-section .section-wrapper {
		padding-bottom: 0;
	}

	.lectors-section .lectors-slider {
		margin: 0;
	}

	.about-project-section .section-wrapper {
		padding: 39px 14px 47px
	}

	.single-line_below__dark {
	    margin: 34px auto 15px;
	}

	.about-project__text {
		font-size: 16px;
		line-height: 21px;
	}

	.about-project__text {
	    margin: 21px 0 0;
	}

	.labels-item:first-of-type img, 
	.labels-item:nth-of-type(2) img {
		margin: 15px auto;
		height: auto;
	}

	.labels-item:nth-of-type(2) img {
		margin: 15px 13px;
	}

	.author-rights {
		padding: 26px 16px 23px;
	}

	.footer-block:nth-of-type(2) {
		padding: 0 17px 13px 17px;
	}

	.footer-block:nth-of-type(3) a {
		width: 100%;
		margin: 19px 6px 18px;
	}


	/*  LECTION PAGE */
	.lection-slider-section .section-wrapper {
	    padding: 51px 0 33px;
	}

	.lection-page-title {
		font-size: 14px;
	}

	.single-lection-page .line_below {
	    width: 35px;
	    margin: 0 15px;
	}

	.single-lection-page .h2-fs48-geometria-fw800 {
	    font-size: 25px;
	    margin: 7px 0;
	    line-height: 30px;
	}

	.lection-slider {
	    margin: 9px 0 0;
	    height: 182px;
	    overflow: visible;
	}

	.lection-block__item,
	.lection-slider .slick-slide, 
	.lection-slider {
		height: 182px;
	}

	.lection-slider .slick-prev {
	    left: 34%;
	    bottom: -54px;
	}

	.lection-slider .slick-next {
	    right: 34%;
	    bottom: -54px;
	}

	.lection-additional-block {
		width: auto;
		margin: 70px auto 26px;
	}

	.btn-audio::before {
	    left: 13%;
	}

	.btn-questions::before {
	    top: 12px;
	    left: 15.7%;
	}

	.lection-additional-block {
	    width: auto;
	    margin: 70px auto 19px;
	}

	/*  */
	.lection-share-block {
	    padding: 17px 0 21px;
	}

	.lection-share-block p {
	    font-size: 13px;
	   	padding: 8px 3px 2px 13px;
	}

	.lection-share .fa {
	    margin-right: 15px;
	    font-size: 19px !important;
	}
	
	.lection-share {
		@include flex-container;
		@include flex-align-items-center;
	    margin: 0 0 0 16px;
	    
	    a {
	    	&:first-of-type {
			    margin-right: 15px;
			}
	    }
	}

	/*  */
	.single-lection-page .h2-fs48-geometria-fw800 {
	    margin: 7px auto;
	}

	.lection-documents-section .section-wrapper {
	    padding: 24px 0 8px;
	}

	.document-wrapper {
	    margin: 22px 20px 30px;
	}

	.document-item__type-name::after {
	    top: -3px;
	    right: 6px;
	    width: 28px;
	    height: 34px;
	}

	.document-item__title {
	    height: 136px;
	}

	.document-item {
	    margin-bottom: 19px;
	}


	.show-more {
		width: 100%;
	    margin: 9px auto 10px;
	    padding: 12px 29px 14px 36px;
	}

	/*  */
	.QA-section .section-wrapper {
	    padding: 40px 0 127px;
	}

	.accordionWrapper {
	    margin: -2px 0 27px;
	}

	.numeration-item {
		top: -2px;
		left: 22px;
		font-size: 16px;
	}

	.open .accordionItemHeading {
	    padding: 10px 20px 8px 53px;
	    line-height: 20px;
	}

	.open .accordionItemContent {
	    padding: 0 20px 0 52px;
	    line-height: 23px;
	}

	/*  LECTION PAGE END */

} 

/*  */

