

@media screen and (max-width: 730px) {
	footer {
	    padding: 0 0;
	}

	.footer-block:first-of-type {
	padding: 0;
	width: 100%;
	
	
		img {
			width: 50%;
    		margin: 30px;
		}
	}

	.labels-wrapper {
		width: 100%;
		margin: auto;
		padding: 0;
		border-bottom: 1px solid rgba(255, 255, 255, .07);
	}

	.author-rights {
		text-align: center;
		padding: 20px 16px;
	}
	
	.footer-image__logo {
		display: none;
	}

	.footer-block:first-of-type > img {
	display: flex;
	}

	.labels-item {
		display: flex;
		width: 50%;
		-webkit-align-items: center;
		        align-items: center;
		
		&:first-of-type {
			border-right: 1px solid rgba(255, 255, 255, .07);
		}
	}

	.labels-item:first-of-type img,
	.labels-item:nth-of-type(2) img {
		width: auto;
		margin: 30px auto;
	}


	.footer-block__rights {
		@include flex-align-items-center;
	}

	.cos-block__footer {
		@include flex-row;
	}

	.footer-block__rights {
		margin: 0;
		padding: 30px;
	}

	.footer-block__rights p {
	    max-width: 320px;
	    width: 100%;
	}

	.footer-block:nth-of-type(3) {
		padding: 0;
		width: 100%;
		
		a {
			width: 100%;
			margin: 27px 0 32px;
		}
	}

	.footer-block:nth-of-type(2),
	.cos-block__footer {
		border-bottom: 1px solid rgba(255, 255, 255, .07);
		width: 100%;
	}

	.cos-block__footer {
		    display: flex;
    		justify-content: space-around;
	}

	footer .section-wrapper {
		justify-content: center;
		text-align: center;
	}

	.developed__by {
		position: relative;
		right: 0;
		bottom: 0;
	}

	.line_below {
		width: 90px;
	}

	// lections section
	
	.lections-block {
		max-width: 50%;
		width: 50%;
		height: 300px;
		outline: none;
	}

	.lections-block__item {
		max-width: 100%;
	}

	.img-block {
		max-width: 100%;
		
		height: 133px;
	}

	.lections-block__item:hover .img-block {
		width: 100%;
	}

	.lectors-block {
		
		margin: 20px 0 50px;
		
		&:nth-child(odd) {
			border-right: 1px solid  #e2e4ea;
		}
	}

	.lectors-section .section-wrapper {
		position: relative;
		padding-bottom: 103px;
	}

	.lectors-section .lectors-slider {
		border-bottom: 1px solid  #e2e4ea;
		margin: 0 50px;
	}

	.lectors-slider .slick-arrow {
		top: auto;
    	bottom: -51px;
		width: 50px;
		height: 50px;
    	padding: 0;
	}

	.lectors-slider .slick-prev {
		right: 52px;
	}

	.lectors-slider .slick-next {
		left: 52px;
	}

	.block-video {
		height: 244px;
	}

	.button-play {
		top: 35%;
	}

	.block-test {
		padding: 40px 0 0;
		
		&__text {
			padding: 22px 3px 10px;
		}

		&__btn {
			padding: 11px 44px 11px 42px;
		}
	}

	.lections-section h2 {
	    padding: 41px 0 0;
	}

	.lections-wrapper {
		padding: 50px 0 64px;
	}

	.lectors-section h2 {
	    padding: 45px 0 0;
	}

	.lectors-slider {
		padding: 0;
	}

	.person-image {
	    width: 175px;
	    height: 175px;
	    padding: 0 10px;
	}
}

@media screen and (max-width: 700px) {
	.lection-additional-block {
		-webkit-justify-content: center;
		        justify-content: center;
	}

	.lection-additional-block {
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		margin: 75px auto 21px;
		flex-direction: column;
	}

	.QA-section {
	    background: #ebedf0;
	    padding: 0 20px;
	}

	.lection-slider .slick-prev {
	    left: 40%;
	    bottom: -65px;
	    top: auto;
	}

	.lection-slider .slick-next {
	    right: 40%;
	    bottom: -65px;
	    top: auto;
	}

	.btn-info-text, .btn-audio {
		margin-left: 0;
	}

	.btn-questions {
	    margin: auto;
	    padding: 11px 42px 10px 79px;
	}
}

@media screen and (max-width: 530px) {
	/*  LECTION PAGE*/

	.lection-documents-section .line_below, 
	.QA-section .line_below {
		display: none;
	}

	.lection-page-title {
		line-height: 35px;
	}

	.lection-block__item {
    	max-width: 420px;
    	height: 237px;
	}

	.lection-block__item img {
		// width: 420px;
		height: 100%;
	}

	.lection-slider-section .section-wrapper {
	    padding: 24px 30px 47px;
	}

	.single-lection-page .line_below {
	    width: 71px;
	    margin: 0 21px;
	}

	.lection-slider-wrapper {
	    padding: 0;
	}

	.lection-slider .slick-slide,
	.lection-slider {
		height: 237px;
	}

	.lection-slider .slick-prev {
	    left: 38%;
	    bottom: -60px;
	    top: auto;
	}

	.lection-slider .slick-next {
	    right: 38%;
	    bottom: -60px;
	    top: auto;
	}

	.lection-additional-block {
		width: 100%;
		margin: 83px auto 28px;
	}

	.btn-info-text, .btn-audio {
	    margin-bottom: 10px;
	}

	.btn-audio {
	    padding: 10px 33px 11px 79px;
	    justify-content: center;
	}

	.btn-audio::before {
    	left: 24%;
	}

	.btn-questions {
		width: 100%;
		margin-left: 0;
		justify-content: center;
	}


	.btn-questions::before {
	    top: 16px;
	    left: 25%;
	}

	.lection-share-block {
		padding: 20px 0 24px;
	}


	.lection-share {
	    margin: 0 0 0 20px;
	}
	/*  */
	
	.lection-documents-section .section-wrapper {
	    padding: 41px 0 8px;
	}

	.document-wrapper {
	    margin: 39px 29px 33px;
	}

	.document-item {
	    width: 100%;
	    margin-bottom: 10px;
	}

	.document-item__title {
	    height: 116px;
	}

	.document-item:last-of-type {
		display: none;
	}

	.show-more {
	    margin: 19px auto 10px;
	}

	/*  */
	.QA-section {
		padding: 0;
	}

	.QA-section .section-wrapper {
	    padding: 45px 0 127px;
	}

	.accordionWrapper {
	    margin: 6px 0 27px;
	}

	.open .accordionItemContent {
	    padding: 1px 20px 0px 68px;
	}

	.open .accordionItemHeading {
	    margin-top: 14px;
	    padding: 10px 20px 12px 68px;
	}

	.numeration-item {
	    left: 32px;
	}

	.lection-addinfo button:hover {
	    -webkit-box-shadow: 0 17px 27px 4px rgba(0, 0, 0, 0.43);
	    box-shadow: 0 7px 7px 4px rgba(0, 0, 0, 0.43);
	}

	/*  LECTION PAGE END */
}


/*  */