button	{
	cursor: pointer;
}

.single-lection-page {
	background: $bg-dark-grey;
	
.section-wrapper {
		@include flex-column;
		// padding: 28px 0 63px;
	}
	
	.line_below {
	    height: 18px;
	    width: 100px;
	    margin: 0 30px;
	    font-size: 48px;
	}
}

.lection-page-title {
	@include flex-container;
	color: $yellow;
	margin: auto;
	font-family: 'Geometria Bold';
	font-size: 18px;
	font-weight: 700;
	line-height: 38px;
	text-align: center;
}

.lection-slider-wrapper {
	max-width: 1366px;
	width: 100%;
	// width: 885px;
	// height: 500px;
	margin: 10px auto;
	overflow: hidden;
	// background-color: rgba(0, 0, 0, .4);
}

.lection-block__item {
	// margin: auto;
	height: 100%;
	// width: 100%;
	
	img{
		// width: 885px;
		width: 100%;
		height: 100%;
	}
}

.lection-slider-section {
	.section-wrapper {
		@include flex-column;
		padding: 28px 0 63px;
	}
}

// test
.lection-slider {
  // width: 1360px;
  height: 500px;
  // margin: 50px auto;
  text-align: center;
  overflow: hidden;
}

.lection-slider div {
	// margin-right: 60px;
	margin-left: 30px;
	margin-right: 30px;
// 	margin-left: 1.5px;
//     margin-right: 39px;
}

.lection-slider .slick-initialized .slick-slide {
    display: flex !important;
}

.lection-slider .slick-slide {
  opacity: .6;
  height: 385px;
  // width: auto;
}

.lection-slider .slick-center {
  display: block;
  // max-width: 10% !important;
  max-width: 20% !important;
  max-height: 0% !important;
  opacity: 1;
  width: 885px;
  height: 500px;
  // margin: auto;
}


/* slider settings */
.lection-slider {
	display: flex;
	position: relative;
	margin: 47px 0 0;
	// padding: 0 6%;
	text-align: center;
}

.lection-slider .slick-arrow {
	position: absolute;
	top: 40px;
	top: 46%;
	padding: 20px;
	margin: 0 auto;
	width: 70px;
	height: 70px;
	border: 1px solid rgba(255, 255, 255, .3);
	background-color: rgba(255, 222, 0, 0);
	cursor: pointer;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	z-index: 200;
	outline: none;
	@include transition-ease-in-out;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	
	&:hover {
		background: $yellow;
		background-repeat: no-repeat;
		background-position: 50% 50%;
	}
}

.lection-slider .slick-next {
	right: 11%;
	background-image: url('../img/arrow-right.svg');
	
	&:hover {
		background-image: url('../img/arrow-right-black.svg');
	}
}

.lection-slider .slick-prev  {
	left: 15%;
	background-image: url('../img/arrow-right.svg');
	transform: rotate(180deg);
	
	&:hover {
		background-image: url('../img/arrow-right-black.svg');
		transform: rotate(180deg);
	}
}

/* lection slider buttons */
.lection-addinfo {
	max-width: 876px;
	margin: auto;
	
	button {
		font-family: 'Avenir Next Cyr Bold';
		font-size: 18px;
		font-weight: 700;
		line-height: 27px;
		outline: none;
		// border: none;
		@include transition-ease-in-out;
		
		&:hover {
			box-shadow: 0 17px 27px 4px rgba(0, 0, 0, .43);
		}
	}
}

.lection-additional-block {
	display: flex;
	margin: 39px 0 33px;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
}

.btn {
	&-info-text {
		
		// button 	{
			background: $yellow;
			border-radius: 2px;
			padding: 11px 49px;
			border: none;
			// 																																border: none;
			
			
			&:hover {
				box-shadow: 0 17px 27px 4px rgba(0, 0, 0, .43);
			}
		// }
	}

	&-lection-info {
		
		position: relative;
		color: $white;
		background: transparent;
		border: 1px solid rgba(255, 255, 255, .1);
		@include transition-ease-in-out;
		cursor: pointer;
		
		&::before {
			position: absolute;
			content: "";
			color: $white;
			background-repeat: no-repeat;
			@include transition-ease-in-out;
		}

		&:hover {
			color: $yellow;
		}
	}
}

.btn-audio {
	padding: 11px 23px 9px 66px;
	
	&::before {
		background-image: url('../img/sound.svg');
		width: 26px;
		height: 20px;
		color: $white;
		top: 12px;
		left: 24px;
	}

	&:hover {

		&::before {
			background-image: url('../img/sound-hover.png');
		}
	}
}

.btn-questions {
	padding: 11px 27px 10px 63px;
	margin-left: 26px;
	
	&::before {
		background-image: url('../img/question.svg');
		width: 26px;
		height: 20px;
		color: $white;
		top: 13px;
		left: 31px;
	}

	&:hover {
		&:before {
			background-image: url('../img/question-hover.svg');
		}
	}
}

/* share lection block */

.lection-share-wrapper {
	border-top: 1px solid rgba(255, 255, 255, .1);
	border-bottom: 1px solid rgba(255, 255, 255, .1);
	width: 100%;
}

.lection-share-block {
	display: flex;
	-webkit-justify-content: center;
	        justify-content: center;
	color: $white;
	padding: 27px 0;
	
	p {
		display: flex;
		color: $white;
		font-family: 'DIN Pro Bold';
		font-size: 15px;
		font-weight: 700;
		padding: 8px 2px 2px 32px;
    	letter-spacing: -.8px;
		text-transform: uppercase;
	}
}

.lection-share {
	margin: 0 22px;
	
	a {
		&:first-of-type {
			margin-right: 15px;
		}
	}
	
	.fa {
		margin-right: 21px;
		color: $white;
		@include transition-ease-in-out;
		font-size: 24px !important;
		
		&:hover {
			color: $yellow;
		}
	}
}

/* DOCUMENTS SECTION */
.lection-documents-section {
	background: $white;
	
	.line_below {
		height: 44px;
		width: 100px;
		margin: 0 30px;
		font-size: 48px;
	}
	
	.section-wrapper {
		padding: 101px 0 17px;
	}
}

.document {
	
	&-block {
		@include flex-container;
		-webkit-justify-content: space-between;
		        justify-content: space-between;
	}

	&-wrapper {
		margin: 67px 50px;
	}

	&-item {
		// max-width: 287px;
		width: 22.5%;
		overflow: hidden;
		@include transition-ease-in-out;
		// background-image: url('../img/bg-doc.png');
		
		&:not(:last-of-type) {
			margin-right: 10px;
		}
		
		&__type {
			height: 41px;
			background-color: #883007;
			position: relative;
			
			&-name {
				display: block;
				
				color: #fff;
				font-family: 'Avenir Next Cyr Bold';
				font-size: 14px;
				font-weight: 700;
				text-transform: uppercase;
				padding: 13px 20px 10px;
				
				&::after {
					position: absolute;
					top: 0;
	    			right: 13px;
					width: 27px;
					height: 32px;
					content: "";
					background-size: 314px;
					background-image: url(../img/sprite-document.png);
					background-repeat: no-repeat;
					/* background-color: #d7dbe3; */
					opacity: 1;
					background-position-x: 3px;
					background-position-y: 3px;
					}
				} //type
				
			&-name-ancor {
				display: block;
				color: #fff;
				font-family: 'Avenir Next Cyr Bold';
				font-size: 14px;
				font-weight: 700;
				text-transform: uppercase;
				padding: 13px 20px 10px;

				&::after {
						position: absolute;
						top: 0;
		    			right: 13px;
						width: 27px;
						height: 32px;
						content: "";
						background-size: 314px;
						background-image: url(../img/sprite-document.png);
						background-repeat: no-repeat;
						/* background-color: #d7dbe3; */
						opacity: 1;
						background-position-x: -292px;
    					background-position-y: 10px;
					}
			}

			}

		&__title {
			position: relative;
			height: 181px;
			color: #000;
			font-family: 'Avenir Next Cyr Bold';
			font-size: 20px;
			padding: 16px 19px;
    		line-height: 24px;
			font-weight: 700;
			// border-radius: 2px;
			// border-top: 1px solid #d7dbe3;
			// border-left: 1px solid #d7dbe3;
			background-repeat: no-repeat;
			// background-image: url('../img/bg-doc.png');
			// background-repeat: no-repeat;
			// background-position: 50%;
	
			
			&::before {
				top: 0;
				right: 0;
				height: 161px;
				width: 1px;
				position: absolute;
				content: "";
				background: #d7dbe3;
			}

			&::after {
				left: 0;
				bottom: 0;
				width: 267px;
				height: 1px;
				position: absolute;
				content: "";
				background: #d7dbe3;
			}

			.triangle-doc {
				bottom: -6px;
    			right: -9px;
			    position: absolute;
			    content: "";
			    width: 32px;
			    height: 32px;
			    z-index: 5;
			    background: url('../img/triangle-doc-2.png') no-repeat;
			    transform: rotate(318deg);
			}
		}

		&:hover {
			// background-image: url('../img/doc-white.svg');
			// background-repeat: no-repeat;
			// background-position: 50%;
			box-shadow: 0 26px 65px rgba(0, 0, 0, .4);
			// background-color: #ededee;
			margin-top: -11px;
			
			.document-item__title::after {
				display: none;
			}

			.document-item__title .triangle-doc {
				bottom: -18px;
			}

		}

	} //item
}

.show-more {
	color: #252526;
    font-family: 'Avenir Next Cyr Bold';
    font-size: 18px;
    font-weight: 700;
    /* line-height: 27px; */
    display: block;
    margin: 57px auto 10px;
    text-align: center;
    padding: 11px 32px 13px 36px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, .1);
}

/* DOCUMENTS SECTION END */

/* Q__A SECTION END */
.QA-section {
	background: #ebedf0;
	
	.line_below {
		height: 44px;
		width: 100px;
		margin: 0 30px;
		font-size: 48px;
	}

	.section-wrapper {
		padding: 85px 0 127px;
	}
}

.numeration-item {
	position: absolute;
	content: "";
	left: 0;
	top: 7px;
	color: #883007;
	font-family: 'Geometria heavy';
	font-size: 18px;
	font-weight: 800;
	line-height: 44px;
	@include transition-ease-in-out;
}

/* accordion */

// .accordion {
// 	&Item {

// 		&Heading {
// 			color: #000;
// 			font-family: 'Avenir Next Cyr Bold';
// 			font-size: 18px;
// 			font-weight: 700;
// 		}
		
// 	}
// }

.accordionItemHeading {
	position: relative;
	color: #000;
	max-width: 809px;
    width: 100%;
    padding-left: 50px;
    @include transition-ease-in-out;
}

.accordionWrapper {
	padding: 30px 0 ;
	float:left;
	max-width: 1366px;
	overflow: hidden;
	margin: auto;
	width:100%;
	box-sizing:border-box;
	margin:44px 0;
	}

.accordionItem{
    // float:left;
    display:block;
    width:100%;
    box-sizing: border-box;
    // font-family:'Open-sans',Arial,sans-serif;
    border-top: 1px solid #c2c7d6;
}
.close .accordionItemHeading{
	cursor:pointer;
	margin:0px 0px 10px 0px;
	padding:20px 0 21px;
	color: #000;
	font-family: 'Avenir Next Cyr Regular';
	font-size: 18px;
	font-weight: 400;
	max-width: 774px;
    width: 100%;
    padding-left: 50px;
	margin: auto;
	box-sizing: border-box;
	@include transition-ease-in-out;
	
	&:hover {
    	color: #ffde00;
    	
    	.numeration-item {
    		color: #ffde00;
    	}
    }
}
.close .accordionItemContent{
    height:0px;
    transition:height 1s ease-out;
    -webkit-transform: scaleY(0);
	-o-transform: scaleY(0);
	-ms-transform: scaleY(0);
	transform: scaleY(0);
    float:left;
    display:block;
    
   	max-width: 774px;
    width: 100%;
    padding-left: 50px;
 	color: #000;
	font-family: 'Avenir Next Cyr Bold';
	
	p {
        font-size: 18px;
		font-weight: 400;
		line-height: 26px;
		max-width: 706px;
		width: 100%;
	}
}
.open .accordionItemContent{
	max-width: 774px;
    width: 100%;
    padding-left: 50px;
    padding-bottom: 49px;
    margin: auto;
    display:block;
    -webkit-transform: scaleY(1);
	-o-transform: scaleY(1);
	-ms-transform: scaleY(1);
	transform: scaleY(1);
    -webkit-transform-origin: top;
	-o-transform-origin: top;
	-ms-transform-origin: top;
	transform-origin: top;

	-webkit-transition: -webkit-transform 0.4s ease-out;
	-o-transition: -o-transform 0.4s ease;
	-ms-transition: -ms-transform 0.4s ease;
	transition: transform 0.4s ease;
        box-sizing: border-box;
        
        p {

		width: 100%;
		color: #000000;
		font-family: 'Avenir Next Cyr Regular';
		font-size: 18px;
		font-weight: 400;
		line-height: 26px;
		
        }
}

.open .accordionItemHeading{
	font-family: 'Avenir Next Cyr Bold';
	font-size: 18px;
	font-weight: 700;
	max-width: 774px;
    width: 100%;
    padding-left: 50px;
	margin: auto;
	cursor:pointer;
	padding:20px 0 21px;
	color: #000;
	max-width: 774px;
    width: 100%;
    padding-left: 50px;
	margin: auto;
	box-sizing: border-box;
	@include transition-ease-in-out;
}

.qa-ask {
	display: block;
	width: 280px;
	height: 60px;
	background-color: #ffde00;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    padding: 11px 49px;
    font-family: 'Avenir Next Cyr Bold';
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    outline: none;
    border: none;
    margin: auto;
    -webkit-transition: all ease-in-out .3s;
    transition: all ease-in-out .3s;
    @include transition-ease-in-out;
		
		&:hover {
			box-shadow: 0 17px 27px 4px rgba(0, 0, 0, .43);
		}
}

	/* Q__A SECTION */