/*==========  Desktop First Method  ==========*/


/* Large Devices, Wide Screens */

@media only screen and (max-width: 1139px) {
    .htl_block_right {
        margin-left: 36px;
    }
    .htl_block_right h5 {
        letter-spacing: 4px;
        line-height: 22px
    }
    .test_block {
        margin: 20px 0 0 -15px;
    }
    .test_block,
    .test_block + div {
        width: 50%;
        float: left;
    }
    .video_block {
        margin-top: 20px;
        margin-right: -15px;
    }
    .test_block + div {
        margin: 0 0 0 15px;
    }
    .school_box {
        min-height: 80px;
    }
    .target_block p {
        font-size: 10px;
    }
}


/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {
    
    .htl_section > div > div .htl_row:nth-child(1) .htl_block_left{
        background-color: #f1f1f1;
    }
    
    .htl_section > div > div .htl_row:nth-child(3) .htl_block_left{
        background-color: #000;
    }
    
    .htl_section {
        background: none;
        height: auto;
        padding-bottom: 20px;
    }
    .htl_row {
        height: auto;
    }
    .htl_row + .htl_row {
        margin-top: 30px;
    }
    .htl_block_left {
        padding: 100px 20px 20px;
    }
    .htl_block_left h5 {
        text-align: center;
        padding-right: 0;
    }
    .htl_block_left:before {
        left: 50%;
        margin-left: -75px;
        top: 10px;
    }
    .line_block {
        margin: 0 auto;
    }
    .htl_block_right {
        padding: 0;
        margin-top: 10px;
    }
    .htl_block_right h5 {
        margin-left: 18px;
    }
    .htl_block_right p {
        text-align: left;
    }
    .htl_first {
        background-color: #f1f1f1;
    }
    .htl_third {
        background-color: #000;
    }
    .htl_section button {
        margin: 40px auto;
        display: block;
    }
    .pick_course_img {
        right: -210px;
    }
    .pick_course {
        padding: 40px 0 60px 0;
    }
    .pick_course_block:nth-child(even) .pick_course_img {
        left: -180px;
    }
    .students_target_row .htl_block_right {
        margin-left: 0;
    }
    .students_target {
        padding: 0 0 60px;
    }
    .students_target_blocks,
    .students_target {
        margin-top: 0;
    }
    .target_block {
        margin-top: 30px;
    }
    .feel_cool_block {
        width: 100%;
    }
    .action_block .action_box p {
        letter-spacing: 6px;
    }
    .action_block:before {
        font-size: 100px;
        top: -50px
    }
    .school_box {
        min-height: 90px;
        margin-left: 25%;
    }
    .school_box h6 {
        letter-spacing: 1px;
        display: inline-block;
    }
    footer .logo_block {
        margin: 0;
        padding-bottom: 20px;
        float: none;
        text-align: center;
    }
    .soc_links_block {
        text-align: right;
    }
    footer .phone_block {
        float: left;
        text-align: left;
    }
    footer button.up_btn {
        float: left;
        margin-top: 60px;
    }
    footer b {
        margin-top: 18px;
    }
}


/* Small Devices, Tablets */

@media only screen and (max-width: 767px) {
    /*Disable Animation on Mobile Devices*/
    
    .video_block img{
        min-width: auto;
    }
    
    .animated {
        /*CSS transitions*/
        -o-transition-property: none !important;
        -moz-transition-property: none !important;
        -ms-transition-property: none !important;
        -webkit-transition-property: none !important;
        transition-property: none !important;
        /*CSS transforms*/
        -o-transform: none !important;
        -moz-transform: none !important;
        -ms-transform: none !important;
        -webkit-transform: none !important;
        transform: none !important;
        /*CSS animations*/
        -webkit-animation: none !important;
        -moz-animation: none !important;
        -o-animation: none !important;
        -ms-animation: none !important;
        animation: none !important;
    }
    .owl_text_block {
        padding-top: 40px;
    }
    h2 {
        font-size: 16px;
        letter-spacing: 4px
    }
    .owl_text_block h2.line_header {
        padding-bottom: 12px;
    }
    .owl_text_block button {
        margin-top: 20px;
        width: 80%;
    }
    button.get_course_btn {
        font-size: 12px;
        letter-spacing: 2px
    }
    .test_block,
    .test_block + div {
        width: 100%;
        float: none;
    }
    .test_block {
        margin-right: 0px;
        margin-left: 0px;
    }
    .test_block + div {
        margin: 0;
        margin: 0;
    }
    .video_block {
        margin-right: 0;
    }
    .students_target_row {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .students_target_row p + p {
        margin-top: 10px;
    }
    .feel_cool {
        padding: 32px 0;
    }
    .feel_cool_block {
        width: 90%;
        padding: 30px 20px;
    }
    .feel_cool_block h1 {
        font-size: 40px;
    }
    .action_block:before {
        font-size: 60px;
        top: -10px;
    }
    .school_box + .school_box {
        margin-top: 10px;
    }
    .action_block {
        padding-bottom: 20px;
    }
    .action_block_txt h2:first-child {
        font-size: 40px;
    }
    .action_block_txt h2:nth-child(4) {
        font-size: 30px;
    }
    .action_block .action_box p {
        font-size: 30px;
    }
    footer .phone_block {
        float: none;
        text-align: center;
    }
    footer button.up_btn {
        float: none;
        display: block;
        margin: 30px auto;
    }
    .soc_links_block {
        text-align: center;
    }
    header .phone_block span {
        font-size: 18px;
        margin-top: 4px;
    }
    .phone_menu_block .phone_block span {
        margin-right: 14px;
    }
    .pick_course_block:before {
        display: none;
    }
    .pick_course_txt_block {
        height: auto;
        padding: 40px 0;
        width: 90%;
        margin: 0 auto;
    }
    .pick_course_block {
        margin-top: 40px;
    }
    .pick_course_img img {
        display: none;
    }
    .pick_course_img_xs{
    display: block;
    }

    .pick_course_img_xs img{
        display: block;
    width:100%;
    height: 280px;
    }

    .pick_course_img {
        background-color: #000;
        width: 100%;
        left: 0;
        height: 100%;
    }
    .pick_course_txt_block h6 {
        letter-spacing: 2px;
        padding-bottom: 12px;
    }
    .pick_course_block + .pick_course_block {
        margin-top: 0;
    }
    .pick_course_block:nth-child(even) .pick_course_img {
        left: 0;
        background-color: #fff;
    }
    .pick_course_contacts {
        margin-top: 20px;
    }
    .pick_course_contacts button {
        float: none;
        margin: 0 auto;
        display: block;
    }
    .pick_course_phone {
        margin-top: 20px;
    }
    .pick_course {
        padding-bottom: 30px;
    }
    .students_target {
        padding-top: 30px;
    }
    .test_block p{
        padding: 0;
    }
    .pick_course_block:nth-child(even) .pick_course_txt_block{
        margin: 0 auto;
    }
    
    .pick_course h3{
        padding: 0 15px;
    }
    
    .owl_page{
        height: 360px;
    }
    .carouser_block{
        margin: 0 15px;
    }
}

/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {
    
    .owl_page{
        height: 240px;
    }
    
    .htl_block_right{
        margin-left: 0;
    }
    
    .test_block{
        display: none;
    }
    
    .pick_course_white{
        background-color: #fff;
    }

    .test_block button+p{
        margin-top: 14px;
    }
    
    .action_block .action_box p {
        font-size: 20px;
    }
    .school_box h6 {
        letter-spacing: 0px;
        font-size: 16px;
    }
    .top_line .logo_block {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
    .top_line .phone_menu_block {
        float: none;
        width: 100%;
    }
    .top_line .menu_block {
        float: right;
    }
    
    .guarant_desc p{
        font-size: 16px;
    }

    .header_wrap_nav ul a {
        font-size: 12px;
    }
    .test_block button {
        width: 100%;
        font-size: 8px;
    }
    .htl_block_left p {
        text-align: center;
    }
    button.interesting_btn {
        width: 90%;
    }
    button.free_lesson_btn {
        width: 80%;
        font-size: 8px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .feel_cool_block h1 {
        font-size: 30px;
        line-height: 30px;
    }
    #free_lesson {
        width: 300px;
    }
    button.animated_btn:hover span {
    }
    .owl_text_block {
        padding-top: 155px;
    }
    .owl_text_block h2.line_header {
        margin-bottom: 10px;
    }
    h2 {
        font-size: 12px;
        letter-spacing: 2px;
    }
    h4 {
        font-size: 10px;
    }
    .owl-dots {
        display: none;
    }
    button.get_course_btn span {
        height: 40px;
        line-height: 40px;
        font-size: 10px;
        letter-spacing: 0px;
    }
    .owl_text_block button {
        margin-top: 10px;
    }
    button.animated_btn span:before {
        width: 100%!important;
    }
    .header_wrap_nav ul{
    	margin-top: 95px;
    }
}

/* Custom, iPhone Retina */

@media only screen and (max-width: 320px) {}


/*==========  Mobile First Method  ==========*/


/* Custom, iPhone Retina */

@media only screen and (min-width: 320px) {}


/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {}


/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {}


/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {}


/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {}

/* TEST MEDIA QUARIES */

@media (min-width: 631px) and (max-width: 1139px){
    .question_choice.null{
    height: 169px;
}

.question_choice.one{
    height: 169px;
}
 
.question_choice.two{
    height: 169px;
}
 
.question_choice.tree{
    height: 169px;
}

.question_choice.four{
    height: 169px;
}

.question_choice.five{
    height: 169px;
}

.question_choice.six{
    height: 169px;
}
 
.question_choice.seven{
    height: 169px;
}

.question_choice.eight{
    height: 169px;
}

.question_choice.nine{
    height: 169px;
}

.question_choice.ten{
    height: 169px;
}
 
.question_choice.eleven{
    height: 169px;
}

.question_choice.twelve{
    height: 266px;
}
}

@media (min-width: 740px) and (max-width: 1325px){
    /* IMG */
.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
  width: 52% !important;
  cursor: auto; 
}

.question_main_heading h1{
        display: inline-block;
        margin-left: 10%;   
    }

.question_img.null{
    width: 100%;
}

.question_img.one{
    width: 100%;
}
 
.question_img.two{
    width: 100%;
}
 
.question_img.tree{
    width: 100%;
}

.question_img.four{
    width: 100%;
}

.question_img.five{
    width: 100%;
}

.question_img.six{
    width: 100%;
}
 
.question_img.seven{
    width: 100%;
}

.question_img.eight{
    width: 100%;
}

.question_img.nine{
    width: 100%;
}

.question_img.ten{
    width: 100%;
}
 
.question_img.eleven{
    width: 100%;
}

.question_img.twelve{
    width: 100%;
}
}

@media (max-width: 1139px){


    .btn_test_submit input{
        width: 30%;
        margin-bottom: 0;
    }

    .menu_block_test{
        float: none;
        right: 12%;
        top: 20%;
        position: fixed;
    }
    
    .mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
  width: 78% !important;
  cursor: auto; 
}

    .question_img{
        margin-top: 0;
    }    
    
    .question_choice li.heading{
        font-size: 20px;   
    }
    
    .question_choice ul{
        min-height: 169px;
    }

    .question_img img{
        display: block;
        margin-left: auto;
        margin-right: auto;   
    }
    
    .question_choice li{
       font-size: 16px;
       line-height: 27px;  
    }

    .question_choice ul{
        position: absolute;
        top: 0;
        left: 2%;   
    }

}

@media (max-width: 767px){
    .btn_test_submit input{
        width: 60%;
        margin-bottom: 0;
    }
}

@media (max-width: 991px){
    
    .under_img img{
        margin: 3% auto;
    }
    
    .white_under_block{
        left: 5%;
    }

    .new_method_img img{
        margin: auto;
        margin-bottom: 3%;
    }

    .htl_block_right{
        margin-left: 0;
    }

    .htl_block_right img{
        display: block;
        margin: 3% auto;
    }
    
    .htl_block_right h5{
        text-align: center;
        margin-left: 0;
    }

    .htl_block_right p{
        text-align: center;
    }

    .htl_block_right h5:after{
        right: 25%;
    }

    .htl_block_right h5:before{
        left: 25%;
    }
    
    .reviews_item img{
        left: 44%;
    }

    .envy_desc button span{
        margin: 5% auto;
    }
    
    .school_map div{
        margin-top: 0;
        margin-bottom: 15%;
    }

    ymaps{
        margin-right: auto;
        margin-left: auto;
    }
    
    .under_btn_xs button{
        margin-top: 3%;
        margin-left: auto;
        margin-right: auto;
    }

    .want_discount{
       width: 50%;
       margin-top: 3%;
       margin-left: 25%;
    }

    .re_new{
        width: 50%;
        margin-top: 3%;
        margin-left: 25%;
    }

}

@media (max-width: 730px){
    .htl_block_right h5:after{
        right: 20%;
    }

    .htl_block_right h5:before{
        left: 20%;
    }
}

@media (max-width: 700px){
    .reviews_item{
        height: 275px;
    }

}

@media (max-width: 600px){
    .htl_block_right h5:after{
        right: 15%;
    }

    .htl_block_right h5:before{
        left: 15%;
    }

     .school_box {
        margin-left: 20%;
    }
}

@media (max-width: 525px){
    .htl_block_right h5:after{
        right: 10%;
    }

    .htl_block_right h5:before{
        left: 10%;
    }
}

@media (max-width: 500px){
.school_box {
        margin-left: 15%;
    }
}

@media (max-width: 470px){
    .htl_block_right h5:after{
        right: 5%;
    }

    .htl_block_right h5:before{
        left: 5%;
    }
}

@media (max-width: 400px){
.school_box {
        margin-left: 10%;
    }
}

@media (min-width: 200px) and (max-width: 630px){
    .question_choice ul{
        left: 5%;
        top: 32%;
    }

    .question_choice.null{
    background-size: cover;
    background-position: 100%;
}

.question_choice.one{
    background-size: cover;
    background-position: 100%;
}
 
.question_choice.two{
    background-size: cover;
    background-position: 100%;
}
 
.question_choice.tree{
    background-size: cover;
    background-position: 100%;
}

.question_choice.four{
    background-size: cover;
    background-position: 100%;
}

.question_choice.five{
    background-size: cover;
    background-position: 100%;
}

.question_choice.six{
    background-size: cover;
    background-position: 100%;
}
 
.question_choice.seven{
    background-size: cover;
    background-position: 100%;
}

.question_choice.eight{
    background-size: cover;
    background-position: 100%;
}

.question_choice.nine{
    background-size: cover;
    background-position: 100%;
}

.question_choice.ten{
    background-size: cover;
    background-position: 100%;
}
 
.question_choice.eleven{
    background-size: cover;
    background-position: 100%;
}

.question_choice.twelve{
    background-size: cover;
    background-position: 100%;
}
/* IMG */
.question_img.null{
    height: 155px;
}

.question_img.one{
    height: 155px;
}
 
.question_img.two{
    height: 155px;
}
 
.question_img.tree{
    height: 155px;
}

.question_img.four{
    height: 155px;
}

.question_img.five{
    height: 155px;
}

.question_img.six{
    height: 155px;
}
 
.question_img.seven{
    height: 155px;
}

.question_img.eight{
    height: 155px;
}

.question_img.nine{
    height: 155px;
}

.question_img.ten{
    height: 155px;
}
 
.question_img.eleven{
    height: 155px;
}

.question_img.twelve{
    height: 238px;
}
}


@media (max-width: 638px){
    .header_wrap_test_menu ul li{
        font-size: 15px;
    }

    .re_new a, .want_discount a{
        font-size: 15px;
    }
}

@media (max-width: 570px){
    .question_choice li.heading{
        font-size: 16px;
    }

    .question_choice li{
        font-size: 12px;
        line-height: 23px;
    }
}

@media (max-width: 537px){
    .header_wrap_test_menu ul li{
        font-size: 12px;
    }

    .re_new a, .want_discount a{
        font-size: 13px;
    }
}

@media (max-width: 500px){
    .btn_test_submit input{
        width: 80%;
    }
}

@media (max-width: 715px){

#power_intensive{
    width: 240px;
}

}

@media (min-width: 1245px) and (max-width: 1287px){
  .mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
  width: 54% !important;
}
}
@media (min-width: 1200px) and (max-width: 1244px){
  .mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
  width: 56% !important;
}
}
@media (min-width: 1161px) and (max-width: 1199px){
  .mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
  width: 58% !important;
}
}
@media (min-width: 1140px) and (max-width: 1160px){
  .mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
  width: 60% !important;
}
}
@media (min-width: 1140px) and (max-width: 1160px){
  .mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
  width: 62% !important;
}
}

@media (min-width: 1100px) and (max-width: 1139px){
  .mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
  width: 46% !important;
}
}

@media (min-width: 1055px) and (max-width: 1099px){
  .mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
  width: 48% !important;
}
}

@media (min-width: 1015px) and (max-width: 1054px){
  .mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
  width: 50% !important;
}
}

@media (min-width: 992px) and (max-width: 1014px){
  .mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
  width: 52% !important;
}
}

@media (min-width: 974px) and (max-width: 991px){
  .mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
  width: 52% !important;
}
}
@media (min-width: 936px) and (max-width: 973px){
  .mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
  width: 54% !important;
}
}
@media (min-width: 904px) and (max-width: 935px){
  .mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
  width: 56% !important;
}
}
@media (min-width: 873px) and (max-width: 903px){
  .mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
  width: 58% !important;
}
}
@media (min-width: 845px) and (max-width: 872px){
  .mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
  width: 60% !important;
}
}
@media (min-width: 820px) and (max-width: 844px){
  .mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
  width: 62% !important;
}
}
@media (min-width: 795px) and (max-width: 819px){
  .mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
  width: 64% !important;
}
}
@media (min-width: 770px) and (max-width: 794px){
  .mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
  width: 66% !important;
}

@media (min-width: 740px) and (max-width: 769px){
  .mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
  width: 68% !important;
}

}
/* ****** */

@media (min-width: 992px) and (max-width: 1139px){
    .under_desc span{
        font-size: 13px;
    }
}

@media (min-width: 689px) and (max-width: 991px){
    .under_desc span{
        font-size: 13px;
    }

    .under_img img{
        margin: 0 auto 3% auto;
    }
}

@media (max-width: 767px){
    .under_btn_xs button{
        margin: 3% auto 0 auto;
    }

    .new_method_img img{
        margin: 3% auto;
    }    
}

@media (min-width: 400px) and (max-width: 688px){
    .under_desc span{
        font-size: 13px;
    }

    .under_img img{
        margin: 0 auto 3% auto;
    }
    
}

@media (min-width: 300px) and (max-width: 650px){
    .under_desc p{
        font-size: 15px;
    }

}

@media (min-width: 631px) and (max-width: 699px){
    .guarant_desc p{
        font-size: 17px;
    }

}

@media (min-width: 563px) and (max-width: 630px){
    
    .guarant h1{
        margin-bottom: 6%;
    }

    .guarant_desc p{
        font-size: 15px;
    }

}

@media (min-width: 454px) and (max-width: 562px){
    
    .guarant{
        height: 220px;
    }

    .guarant h1{
        font-size: 1.7em;
        margin-bottom: 8%;
    }

    .guarant_desc p{
        font-size: 13px;
    }

}

@media (min-width: 200px) and (max-width: 453px){
    
    .guarant{
        height: 220px;
    }

    .guarant h1{
        font-size: 1.7em;
        margin-bottom: 5%;
        margin-top: 3%;
        padding-bottom: 14px;
    }

    .guarant_desc p{
        font-size: 13px;
    }

}

@media (max-width: 991px){
    .white_under_block{
        left: 5%;
    }

    .reviews_wrap .slick-list{
        padding-top: 6%;
    }

    ymaps{
        margin: 0 auto 10% auto;
    }

    .action_schools_blocks > div{
        margin-top: 10px;
        text-align: left;
        margin-left: 25%;
    }

    .school_map div{
        margin: 0 auto;
    }
}

@media (max-width: 767px){
    
    button.get_course_btn span:before{
        height: 40px;
        line-height: 38px;
        width: 100%;
    }

    .owl_page button span{
        position: absolute;
        top: 60%;
        width: 55%;
        margin: 0 auto;
        height: 40px;
        line-height: 38px;
        left: 25%;
    }

    .school-box{
        padding-left: 0;
        width: 100%;
        margin-left: 10%;
        margin-top: 10px;
    }

    .action_schools_blocks > div{
        margin-left: 10%;
    }
}

@media (max-width: 830px){
    img.arrow_right{
        right: -6%;
        z-index: 1;
    }
    
    img.arrow_left{
        left: 90%;
        z-index: 1;
    }

}

@media (max-width: 680px){
    .reviews_wrap .slick-list{
        padding-top: 8%;
    }
}

@media (max-width: 650px){
button.get_course_btn span:before{
        height: 25px;
        line-height: 25px;
    }

    .owl_page button span{
        font-size: 7px;
        letter-spacing: 1px;
        height: 25px;
        line-height: 25px;
        top: 70%;
    }
}

@media (max-width: 555px){
    .reviews_wrap .slick-list{
        padding-top: 10%;
    }
}

@media (max-width: 480px){
    .reviews_wrap .slick-list{
        padding-top: 12%;
    }
}

@media (max-width: 430px){
    .reviews_wrap .slick-list{
        padding-top: 16%;
    }
}


@media (max-width: 599px){
    .reviews_item{
        height: 250px;
    }
}

@media (max-width: 480px){
    .reviews_item{
        height: 320px;
    }
}

@media (max-width: 435px){
    .reviews_item{
        height: 380px !important;
    }
}



/* Alina */
/*@media screen and (max-width : 1116px) {
  .header_wrapper {
    width: 90%;
    font-size: 0.9em;
    line-height: 20px;
  }
}

@media screen and (max-width : 1100px) {
  .main_top {
    background-size: 90%;
  }

  .main_top, .main_center_down, .main_center_block {
    font-size: 0.9em;
  }

  .main_center_header {
    font-size: 1.5em;
    margin: -30px 0 0 0;
  }

  .main_top_content_form {
    margin: 20px 0 0 150px;
    max-width: 80%;
    height: 350px;
  }

  .main_center {
    width: 90%;
    margin: auto;
  }

  .main_center_down {
    margin: auto;
    width: 90%;
  }

  .header_bottom_down {
    padding: 20px 0 30px 180px;
  }
}

@media screen and (max-width : 890px) {
  .header_wrapper {
    font-size: 0.8em;
  }

  .header_bottom_down {
   padding: 10px 0 20px 100px;
  }

  .main_top {
    font-size: 0.8em;
  }

  .main_top_content_form {
    width: 260px;
  }

  .main_form_line {
    padding: 10px 0 20px 125px;
  }

  .main_content_form {
    padding: 9px 60px 9px 8px;
  }
}

@media screen and (max-width : 768px) {
  .main_top_content_form {
    margin: 20px 0 0 50px;
    max-width: 80%;
    height: 350px;
  }
  .form_one, .form_two {
    margin: 0 0 15px 20px;
  }

  #select {
    width: 239px;
  }

  .select-outer {
    margin: 0 0 0 20px;
    width: 225px;
  }

  .main_top_content_form_button {
    margin: 0 0 0 20px;
    padding: 10px 65px 10px 66px;
  }

  .main_content_form {
    padding: 7px 60px 7px 8px;
  }

  .text_one {
    padding: 20px 0 0 30px;
  }

  .text_two {
    padding: 35px 0 0 47px;
  }

  .text_three {
    padding: 13px 0 0 39px;
  }

  .text_fourth {
    padding: 15px 0 0 17px;
  }

  .text_fifth {
    padding: 25px 0 0 40px;
  }

  .main_center_block {
    font-size: 0.7em;
    line-height: 16px;;
  }

  .main_center_down {
    padding: 15px 0 0 50px;
  }
  .main_center_header {
    font-size: 1.5em;
    margin: -80px 0 0 0;
  }
}

@media screen and (max-width : 375px) {
  .header_top {
    flex-direction: column;
  }

  .header_top_right {
    justify-content: center;
    padding: 10px 0 0 0;
  }

  .header_bottom_up, .header_bottom_down {
    display: flex;
    flex-direction: column;
  }

  .header_bottom_down {
    padding: 10px 0 20px 30px;
  }

  .main_top_content_text {
    padding: 10px 0 170px 60px;
    font-size: 1.1em;
  }

  .main_center_down_section {
    flex-direction: column;
  }

  .main_center_down_section_one, .main_center_down_section_two {
    padding: 45px 0 92px 100px;
  }

  .main_top_content_form {
    margin: auto;
  }

  .main_top_content {
    flex-direction: column;
  }

  .main_center_block {
    display: flex;
    flex-direction: column;

  }

  .main_center_block_img {
    width: 100%;
  }

  .main_center_block_text {
    display: flex;
    -ms-order: 2;
    -ms-flex-order: 2;
    order: 2;
  }

  .main_center_block div, 
  .main_center_block_text {
    width: 100%;
  }

  .text_one {
    padding: 20px 0 20px 30px;
  }

  .text_two {
    padding: 35px 0 20px 28px;
  }

  .text_three {
    padding: 13px 0 20px 28px;
  }

  .text_fourth {
    padding: 15px 0 20px 28px;
  }

  .text_fifth {
    padding: 25px 0 20px 20px;
  }

  .main_center_block_text {

    font-size: 1.3em;
    line-height: 20px;
  }

  .main_top {
    background: none;
  }

  .main_top_content_text {
    color: #000000;
    font-size: 1.8em;
  }

  .main_center_header {
    font-size: 1.2em;
    margin: -50px 0 0 0;
    line-height: 28px;
  }

  .main_top_content_text {
    text-align: center;
    padding: 0;
  }

  .main_center_down {
    padding: 15px 0 0 10px;
  }

  .main_center_down_section_one, .main_center_down_section_two {
    padding: 35px 0 30px 125px;
    margin-bottom: 20px;
    background-position: 0% 60%;
  }
}*/


/*  Olena  */

/*@media screen and (max-width: 767px) {
    .columnblock-wrapper,
    .block-wrapper,
    .contacts {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-align-items: center;
        align-items: center;
    }

    .columnblock-item,
    .schools-section .block-wrapper__item {
        width: 90vw;
        margin-top: 55px;
    }

    .yandex-maps {
        margin: 0 auto;
    }

    .social-items {
        -webkit-align-items: center;
        align-items: center;
    }

    footer {
        padding: 0 50px;
    }

    .contacts {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .contact-info__contacts {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

@media screen and (max-width: 480px) {
    .heading-l3 {
        letter-spacing: 1px;
    }

    .section-instructors .columnblock-item {
        margin: 27px 0 35px;
    }

    footer {
        padding: 0 20px;
    }
}*/
