/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

.button {
  transition: background 500ms;
}

img {
  max-width: 100%;
  height: auto;
}

#container {
  background-size: cover;
  margin: 0 auto;
  padding: 0 auto;
}

header {
  max-width: 1900px;
  /*width: 90%;*/
}

.header_wrapper {
  max-width: 1113px;
  /*width: 58.57894736842105%; */
  /*display: flex;
  flex-wrap: wrap; */
  margin: 0 auto;
  padding: 0 auto;
}

.header_top_left {
 /* width: 34.32165318957772%;
  max-width: 382px; */
  flex-direction: row;
  justify-content: flex-start;
  display: flex;
}

.header_top_right {
  /*max-width: 264px;
  width: 25.51662174303684%; */
  flex-direction: row;
  display: flex;
  justify-content: flex-end;
}

.header_top_left_name {
  font-size: 1.125em;
  margin: 0 0 0 7px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  padding: 0 30px 0 0;
}

.header_top_right_number {
  font-size: 1.25em;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  padding: 0 15px 0 0;
}

.header_top {
  padding: 20px 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header_top_right_cell {
  width: 22px;
  height: 22px;
}

.header_top_pause {
  width: 44px;
  height: 44px;
}

.header_bottom_up {
  display: flex;
  justify-content: space-around;
}

.header_bottom_up_links {
  text-decoration: none;
  font-size: 1.1 em;
  color: #af7535;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 3px;
  padding: 0 30px 0 0;
  font-weight: 700;
}

.header_bottom_up_links:hover {
  color: #000000;

}

.header_bottom_up {
  margin: 0 0 0 30px;
  padding: 25px 0 0 0;
}

.header_bottom_down {
  padding: 20px 0 30px 230px;
}

.main_top {
  background: url("../img/main.png") no-repeat;
  margin: 0 auto;
  padding: 0 auto;
  background-position: 50% 0;
}

.main_top_content_text {
  font-size: 2.50em;
  color: #ffffff;
  padding: 160px 0 170px 170px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  line-height: 1.3em;
  letter-spacing: 7px;
}

.main_top_content_form {
  width: 350px;
  height: 396px;
  background: #ffffff;
  margin: 40px 0 0 330px;
}

.main_top_content {
  display: flex;
}

.main_top_content_form_text {
  text-transform: uppercase;
  font-size: 1.1em;
  text-align: center;
  padding: 30px 0 0 0;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 3px;
  line-height: 25px;
  word-spacing: 5px;
  font-weight: 600;
}

.main_form_line {
  padding: 10px 0 0 165px;
}

.main_center {
  /*max-width: 1113px;
  padding: 0 auto;
  margin: 0 auto; */

}

.main_center_header {
  padding: 30px 0 40px 0;
  text-align: center;
  font-size: 1.8em;
  text-transform: uppercase;
  color: #af7535;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 7px;
  line-height: 40px;
  font-weight: 600;
}

.main_center_block {
  display: flex;
  justify-content: space-around;
  font-family: "Open Sans", sans-serif;
  line-height: 20px;
  font-size: 0.938em;
  word-spacing: 2px;
  max-width: 1113px;
  padding: 0 auto;
  margin: 0 auto;
}






