

@font-face {
    font-family: 'Circe Extra Bold';
    src: url('../fonts/Circe-ExtraBold.otf');
    // font-weight: 900;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Circe Bold';
    src: url('../fonts/Circe-Bold.otf');
    // font-weight: 700;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Circe 55';
    src: url('../fonts/CRC55.otf');
    // font-weight: 900;
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Circe 35';
    src: url('../fonts/CRC35.otf');
    // font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Circe 25';
    src: url('../fonts/CRC25.otf');
    // font-weight: 900;
    font-style: normal;
}


@font-face {
    font-family: 'Bliss Pro BoldItalic';
    src: url('../fonts/BlissPro-BoldItalic.otf');
    // font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Bliss Pro Heavy';
    src: url('../fonts/BlissPro-Heavy.otf');
    // font-weight: 700;
    font-style: normal;
}


@font-face {
    font-family: 'Bliss ExtraBold';
    src: url('../fonts/BlissPro-ExtraBold.otf');
    // font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Classic Russian Plain';
    src: url('../fonts/CLASSBIT.TTF');
    // font-weight: 700;
    font-style: normal;
}