@font-face {
    font-family: 'DinPro';
    src: url('../fonts/DINPro-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'DinPro';
    src: url('../fonts/DINPro-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DinPro';
    src: url('../fonts/DINPro-Medium.ttf');
    font-weight: medium;
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'DinPro';
    src: url('../fonts/DINPro-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}
