// Color Variables
$white: rgb(255, 255, 255);
$lightblue: #9cdbff; // text,border for light bg
$darkblue: #5a7a98; // text,border for dark bg

@mixin transition-ease-in-out {
    -webkit-transition: ease-out .2s;
    -moz-transition: ease-out .2s;
    -ms-transition: ease-out .2s;
    -o-transition: ease-out .2s;
    transition: ease-out .2s;
}

/*  FLEX SETTINGS */
@mixin flex-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

@mixin flex-column {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
}

@mixin flex-row {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

@mixin flex-row-wrap {
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}

@mixin flex-wrap {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

@mixin flex-align-items-center {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

@mixin flex-justify-content-center {
    -webkit-justify-content: center;
    -ms-flex-pack: justify;
    justify-content: center;
}

@mixin flex-justify-content-start {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}

@mixin flex-justify-content-end {
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

@mixin flex-justify-content-space-between {
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

@mixin flex-align-self-center {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
}
/*  FLEX SETTINGS END */

// .section {
//     min-height: 100vh;
//     padding: 120px 20px;
// }

.section {
    max-width: 100%;
    margin: auto;
    background-position: 50% 50%;
}

.section-wrapper {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    padding: 0px 20px;
    text-align: right;

     a {
        display: inline-block;
     }
}

ul {
    list-style: none;
    padding: 0;
}

p {
    font-family: 'DinPro';
    font-size: 16px;
    font-weight: 300;
    line-height: normal;
    padding: 10px 0;
}

a,
a:link,
a:visited,
a:focus,
button {
    cursor: pointer;
    text-decoration: none;
}

a {
    @include transition-ease-in-out;
}

/* sticky footer */
html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    position: relative;
    color: #000;
}

main {
    flex: 1 0 auto;
}

/* sticky footer END */

* {
    box-sizing: border-box;
    list-style: none;
    font-family: 'DinPro';
    &:focus,
    &:hover {
        outline: none;
    }
}

/* btns */

.decor-btn {
    position: relative;
    margin: 20px;

    a,
    .btn,
    button {
        display: inline-block;
        position: relative;
        font-size: 16px;
        // letter-spacing: 6.4px;
        letter-spacing: 2.4px;
        // font-family: 'Plumb bold';
        font-family: Tahoma, Verdana, Segoe, sans-serif;
        cursor: pointer;
        padding: 25px 30px 25px 30px;
        border: 1px solid transparent;
        border-bottom: 1px solid transparent;
        background: transparent;

        &:hover {
            border-bottom: 1px solid transparent;
        }

        &::after {
            position: absolute;
            display: inline-block;
            width: 35px;
            height: 3px;
            top: 50%;
            right: -22px;
            content: "";
            @include transition-ease-in-out;
        }
    }

    .decor-border {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        left: 0;
        @include transition-ease-in-out;
    }

    &__light {

        *,
        a,
        .btn {
            color: #fff;
        }

        a::after,
        .btn::after {
            background-color: #fff;
        }

        .decor-border {
            border: 3px solid #9cdbff;
        }

        &:hover {

            *,
            a,
            .btn {
                color: #9cdbff;
            }

            a::after {
                background: #9cdbff;
            }
        }
    }

    &__dark {
        * {
            color: #5a7a98;
        }

        .decor-border {
            border: 3px solid #000;
        }

        a::after,
        .btn::after {
            background-color: #5a7a98;
        }

        &:hover {

            * {
                color: #000;
            }

            a::after,
            .btn::after {
                background: #000;
            }
        }
    }
}

/* btns END */


/* headings */
h1 {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 10.98px;
    line-height: 67px;
    font-size: 51px;
    text-align: left;

    span {
        font-size: 51px;
        font-weight: 300;
    }
}

h2 {
    font-size: 48px;
    font-weight: bold;
    letter-spacing: 10.27px;
    line-height: 51px;
    text-transform: uppercase;
}

h3 {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 7.75px;
    text-transform: uppercase;
}


p {
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    text-align: left;

}

/* headings END */


/* LIST SETTINGS */
i,
em {
    font-style: italic;
}

b,
strong {
    font-weight: bold;
}

ul, ol,
.number,
.circle {
    margin: 0;
    padding: 0;
}

.circle li {
    position: relative;
    padding-left: 20px;
    margin-left: 20px;
    line-height: normal;

    &::before {
        content: " ";
        top: 6px;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        position: absolute;
        width: 6px;
        height: 6px;
        border-radius: 50px;
        background: #000;
    }

    a {
        // font-size: 16px;
        // line-height: 24px;
        color: #5cbf60;
        border-bottom: 1px solid transparent;

        &:hover {
            border-bottom: 1px solid rgba(92, 191, 96, .5);
        }
    }
}

.number li {
    position: relative;
    margin-left: 40px;
    padding-left: 5px;
    // line-height: 24px;
    line-height: normal;
    // font-size: 16px;
    list-style-type: decimal;

    a {
        // font-size: 16px;
        color: #5cbf60;
        border-bottom: 1px solid transparent;

        &:hover {
            border-bottom: 1px solid rgba(92, 191, 96, .5);
        }
    }
}
/* LIST SETTINGS END */


/* fixed logo-ancor */
.fixed-logo {
    position: absolute;
    // position: fixed;
    width: 220px;
    height: 300px;
    // z-index: -1;
    left: -40%;
    // transform: translate(50%, 50vh);
    left: -5%;
    top: 50%;
    top: 50vh;
    transform: translate(50%, -50%);


    &__wrapper {
        position: relative;
        // width: 220px;
        // height: 300px;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        // background-image: url('../images/logo/logo-white.svg');

        img {
            display: block;
            width: 100%;
        }
    }
}

/* fixed logo-ancor END */


section {
    overflow: hidden;
}

.inner-wrapper__left {
    position: relative;
    width: 100%;
    max-width: 755px;
    margin-right: 55px;
    padding: 50px 30px;
    float: right;
    text-align: left;

    p {
        position: relative;
        z-index: 1;
    }
}

.inner-wrapper__white {
    position: relative;
}

.align-right-section {
    .section-wrapper {
        padding: 0px 72px;
    }
}
