@media only screen and (max-width: 668px) {
	.section-soon {
		align-items: flex-start;

		.section-wrapper {
			padding: 0;	
		}

		.round-logo {
			display: block;
			margin: 20px auto 0;
			margin-bottom: 	20px;

			img {
				position: relative;
				top: unset;
				left: unset;
				width: 30vw;
				transform: translateY(0%);
			}
		}

		.inner-wrapper {
			flex-direction: column;
		}
	}

		h1,
	h2 {
		font-size: 30px;
	}
}

