
@font-face {
    font-family: 'Circe Extra Bold';
    src: url('../fonts/Circe/Circe-ExtraBold.otf');
    // font-weight: 900;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Circe Bold';
    src: url('../fonts/Circe/Circe-Bold.otf');
    // font-weight: 700;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Circe 55';
    src: url('../fonts/Circe/CRC55.otf');
    // font-weight: 900;
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Circe 35';
    src: url('../fonts/Circe/CRC35.otf');
    // font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Circe 25';
    src: url('../fonts/Circe/CRC25.otf');
    // font-weight: 900;
    font-style: normal;
}
